%h2 Survey Editor : #{@survey.title}
%p= link_to 'Add Questions',new_survey_question_path(@survey)
%h3 Questions
%table#questions
  %thead
    %tr
      %th                               
      %th 
      %th 
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.question_text
        %td= link_to "Edit", edit_survey_question_path(@survey,question) 
        %td= link_to "Delete", survey_question_path(@survey,question), :method => :delete

%br
= link_to  'Back to Home Page', surveys_path